*{
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	/* font-weight: 600; */
	/* font-size: 72px; */
	color: white;
	text-align: center;
}

h4 {
	/* font-family: "Roboto", sans-serif, "arial"; */
	font-weight: 400;
	font-size: 20px;
	color: #9b9b9b;
	/* line-height: 1.5; */
}

/* ///// inputs /////*/

input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
	font-size: 0.75em;
	color: #999;
	top: -5px;
	-webkit-transition: all 0.225s ease;
	transition: all 0.225s ease;
}

.styled-input {
	float: left;
	width: 293px;
	margin: 1rem 0;
	position: relative;
	border-radius: 4px;
}

@media only screen and (max-width: 768px) {
	.styled-input {
		width: 100%;
	}
}

.styled-input label {
	color: black;
	padding: 1.3rem 30px 1rem 30px;
	position: absolute;
	top: 10px;
	left: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	pointer-events: none;
}

.styled-input.wide {
	width: 650px;
	max-width: 100%;
}

input,
textarea {
	padding: 30px;
	border: 0;
	width: 100%;
	font-size: 1rem;
	background-color:white;
	color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
	/* border-radius: 4px; */
    border-radius:4px black;
}

input:focus,
textarea:focus {
	outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s ease;
	transition: all 0.075s ease;
}

textarea {
	width: 100%;
	/* min-height: 5em; */
}

.input-container {
	width: 650px;
	max-width: 100%;
	margin: 20px auto 25px auto;
}



.card {
    margin-top: 10%;
    margin-left:25%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  /* transition: 0.3s; */
  width: 100%;
  border-radius: 20px;
  height:100%;
  background:black;
  
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  /* border-radius: 5px 5px 0 0; */
  /* background: black; */
  /* border: black; */
  border: 1px solid black;
}

.container {
  padding: 2px 16px;
}

.hdr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  background-color:   rgb(90, 202, 247);
}

/* Logo */
.logo {
  text-align: center;
}
.logo h3 {
  color: #000;
  font-size: 1.8rem;
}

.logo h3 span {
  background-color: #fff;
  padding: 3px 8px;
  text-align: center;
  margin-left: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu li {
  margin: 0px 10px;
}

.menu li a:hover{
  color: white;
}
.hdr label {
  position: absolute;
  top: 35px;
  right: 40px;
  cursor: pointer;
  display: none;
}

.hdr label i {
  color: #000;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in;
}

li {
  list-style: none;
  transition: all 0.3s ease-in;
}


@media (max-width: 550px) {
  /* Header */
  .hdr .menu {
    position: absolute;
    background-color: #7ed6df;
    width: 100%;
    flex-direction: column;
    padding: 10px 0;
    top: 80px;
    left: -100%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in;
    z-index: 10;
  }

  .hdr .menu li {
    margin: 10px 0;
  }

  .hdr label:nth-child(2) {
    display: block;
  }

  /* Container */
  .container .content,
  .container .bg-image {
    width: 300px;
  }

  /* Mobile Menu */
  #menu-dis:checked ~ .menu {
    left: 0;
    max-height: 100%;
  }

  #menu-dis:checked ~ label:nth-child(2) {
    display: none;
  }

  #menu-dis:checked ~ label:nth-child(3) {
    display: block;
  }
}

  

.submit-btn {
	/* float: right; */
	padding: 7px 35px;
	border-radius: 60px;
	display: inline-block;
  background-color: #56baed;
  
	color: white;
	font-size: 18px;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.submit-btn:hover {
	transform: translateY(1px);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
	.submit-btn {
		width: 100%;
		float: none;
		text-align: center;
	}
}

input[type="checkbox"] + label {
	color: #ccc;
	font-style: italic;
}

input[type="checkbox"]:checked + label {
	color: #f00;
	font-style: normal;
}


.about-section {
    font-family: Arial, Helvetica, sans-serif;
    width: 99%;
    position: relative;
    /* height: 100%; */
    background-color: white;
  }
  .about-section h1 {
    color: black;
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 15%;
  }
  .about-section .all-sections {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 20%;
  }
  @media (max-width: 1496px) {
    .about-section .all-sections {
      flex-wrap: wrap;
    }
  }
  .about-section .all-sections .mini-section {
    height: 350px;
    width: 20%;
  }
  .about-section .all-sections .mini-section .text-mini-section {
    position: relative;
    text-align: center;
  }
  .about-section .all-sections .mini-section .text-mini-section h1 {
    font-size: 30px;
  }
  .about-section .all-sections .mini-section .text-mini-section p {
    color: rgb(161, 139, 139);
    font-size: 16px;
  text-align: start;
    margin-top: 30px;
  }
  .about-section .all-sections .mini-section .hexagon {
    position: relative;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    height: 157.5px;
    width: 45%;
    background-color:  rgb(90, 202, 247);
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  .about-section .all-sections .mini-section .hexagon i {
    font-size: 55px;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 1496px) {
    .about-section .all-sections .mini-section {
      width: 35%;
      margin-bottom: 50px;
    }
    .about-section .all-sections .mini-section .hexagon {
      width: 32%;
      height: 150px;
    }
  }
  @media (max-width: 1024px) {
    .about-section .all-sections .mini-section {
      width: 60%;
      margin-bottom: 50px;
    }
    .about-section .all-sections .mini-section .hexagon {
      width: 27%;
      height: 155px;
    }
  }
  @media (max-width: 920px) {
    .about-section .all-sections .mini-section .hexagon {
      width: 30%;
    }
  }
  @media (max-width: 800px) {
    .about-section .all-sections .mini-section .hexagon {
      width: 31%;
    }
  }
  @media (max-width: 730px) {
    .about-section .all-sections .mini-section .hexagon {
      width: 40%;
    }
  }
  @media (max-width: 635px) {
    .about-section .all-sections .mini-section .hexagon {
      width: 40%;
    }
  }
  @media (max-width: 550px) {
    .about-section .all-sections .mini-section .hexagon {
      width: 50%;
    }
  }
  @media (max-width: 400px) {
    .about-section .all-sections .mini-section .hexagon {
      width: 60%;
    }
  }
  .about-section .who-am-i {
    width: 100%;
    position: relative;
    top: 22%;
  }
  .about-section .who-am-i .image-me {
    height: 400px;
    width: 400px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    -webkit-clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%
    );
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #16d7cd;
  }
  .about-section .who-am-i .all-who h1 {
    font-size: 25px;
  
    margin-top: 20px;
  }
  .about-section .who-am-i .all-who .div-para {
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  .about-section .who-am-i .all-who .div-para p {
    font-size: 16px;
  
    color: white;
    text-align: center;
  }
  .about-section .who-am-i .all-who button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    height: 60px;
    width: 200px;
    border: none;
  
    font-size: 17px;
    cursor: pointer;
  }
  
  .hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #16d7cd;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  
  .hvr-bounce-to-right:hover,
  .hvr-bounce-to-right:focus,
  .hvr-bounce-to-right:active {
    color: white;
  }
  
  .hvr-bounce-to-right:hover:before,
  .hvr-bounce-to-right:focus:before,
  .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
  