

<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
  <body>
    <div style="margin-left: 20%;margin-top: 2%;">
      
    <div id="header">
      <h1> Welcome to Vendor Portal</h1>
      <p  class="text"style="font-size: 17px;color:black;margin-top:2%">Vendor portal  allows organizations to connect with and manage third party suppliers of goods and services.
      </p>
      </div>
    
      
      
      <div class="wrapper" >
       
        <div class="media" style="margin-left: 7%;margin-top: 5%;">
          <ul>
            
        <li>
            <a routerLink="/details">
            <div><i class="fa fa-user" aria-hidden="true" style="font-size: 300%;"></i></div>
            <div class="name" style="text-decoration: none;">View</div>
  
          </a>
        </li>
         
        <li>
          <a routerLink="/detailsupdate">
          <div><i class="fa fa-edit" aria-hidden="true" style="font-size: 300%;"></i></div>
          <div class="name" style="text-decoration: none;text-align: center;">Edit</div>
  
        </a>
      </li>
  
         
      <li>
        <a routerLink="/invoice">
        <div><i class="fa fa-file" aria-hidden="true" style="font-size: 300%;"></i></div>
        <div class="name" style="text-decoration: none;">Invoice</div>
  
      </a>
    </li>
  
       
    <li>
      <a routerLink="/purchase">
      <div><i class="fa fa-clipboard" aria-hidden="true" style="font-size: 300%;"></i></div>
      <div class="name" style="text-decoration: none;">Purchase Order</div>
  
    </a>
  </li>
  
     
  <li>
    <a routerLink="/goods">
    <div><i class="fa fa-truck" aria-hidden="true" style="font-size: 300%;"></i></div>
    <div class="name" style="text-decoration: none;">Goods Receipt</div>
  
  </a>
  </li>
  
      
      </ul>
  
        </div>
      </div>
    </div>
    <nav class="mainmenu">
      <div  routerLink="/landing" class="sidebar-logo">
        VENDOR PORTAL
        </div>
      <ul>
        <li class="dropdown"  ><a><i class="fa fa-users fa-2x" style="padding-right: 10px;"></i>Profile <span>&rsaquo;</span></a>
        <ul>
          <li><a routerLink="/details">View</a></li>
          <li><a routerLink="/detailsupdate">Edit</a></li>
        </ul>
        </li>
        <li class="dropdown"><a> <i class="fa fa-laptop fa-2x" style="padding-right: 10px;"></i>Dashboard <span>&rsaquo;</span></a>
           <ul>
              <li><a routerLink="/request">Request for Quotation</a></li>
              <li><a routerLink="/purchase">Purchase Order</a></li>
              <li><a routerLink="/goods">Goods Receipt</a></li>
            </ul>
        </li>
        <li class="dropdown"><a><i class="fa fa-bar-chart-o fa-2x" style="padding-right: 10px;"></i> Finanicial sheet <span>&rsaquo;</span></a>
           <ul>
           <li><a routerLink="/invoicee">Invoice details</a></li>
           <li><a routerLink="/payment">Payments and aging</a></li>
           <li><a routerLink="/creditmemo">Credit memo</a></li>
           <li><a routerLink="/debitmemo">Debit memo</a></li>
           </ul>
        </li>
       
        
      </ul>
  
    </nav>
    <nav >
    <ul>
     
       <a routerLink="/loginv" class="logout">
         <div style="display: flex;">
           <div style="padding-right: 10px;"><i class="fa fa-power-off fa-2x"></i></div>
           <div> Logout</div>
         </div>
             
       </a>
  
     
   </ul>
  </nav>
  
  </body>
  </html>
  
   
  
  
  
  
  
  
  
  
  
  