<!--  --------------------------------  -->
<!--  ------- wahs | copyright -------  -->
<!--  --------------------------------  -->

<!-- Header -->
<header class="hdr">
  <input type="checkbox" id="menu-dis">
  <label for="menu-dis"><i class="fas fa-bars"></i></label>
  <label for="menu-dis"><i class="fas fa-times"></i></label>
  <div class="logo" style="margin-bottom: 1%;">
    <h3>KAAR TECHNOLOGIES</h3>
  </div>
  <ul class="menu">
    <li><a   href="#">Home</a></li>
    <li><a routerLink="/about">Services</a></li>
    <li><a routerLink="/contact">Contact Us</a></li>
    <li><a  routerLink="/landing">Get Started</a></li>
  </ul>
</header>

<!-- Container -->
<div class="container">
  <div class="content" style="margin-top: -5%;margin-left: 7%;">
    <h1>Welcome To Portals</h1>
    <p style="margin-left: 3%;font-size: 120%;">To keep connected with us , Please Get started</p>
    <button class="button1" routerLink="/landing" >Get Started </button>
    <!-- <p>A portal is a web-based platform that collects information from different sources into a single user interface and presents users with the most relevant information for their context. Over time, simple web portals have evolved into portal platforms that support digital customer experience initiatives.</p> -->
    <!-- <a href="#">Learn More</a> -->
  </div>
  <div class="bg-image">
    <img src="https://i.ibb.co/Db6LXYV/front.png" alt="">
  </div>
</div>

<!-- Footer -->
<div class="ftr">
  <p>Copyright &copy; Sushrita</p>
  <p>Deisgned & Developed by Sushrita</p>
</div>